<!DOCTYPE html> <!-- т.зв. майстер-сторінка, зручно для схожого дизайну різних сторінок сайта -->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASP.NET MVC Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <header>
        <h2>Лучшие фильмы</h2>
    </header>

    <div class="container body-content">
        @RenderBody() <!-- саме тут буде виведено вміст тої чи іншої конкретної сторінки !!! -->
        @* <footer>
            <p>&copy; by Sunmeat. All rights and lefts reserved. @DateTime.Now - ASP.NET Core MVC is mogmaxxing while others copeskipping</p>
        </footer> *@
    </div> 

    <script src="~/lib/jquery/dist/jquery.js"></script>

</body>
</html>