body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.poster_img {
    width: 300px;
    height: 450px;
    object-fit: cover;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.film_container {
    display: flex;
    width: 80%;
    background-color: #333;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    color: white;
}

.info_contsiner {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.film_name {
    font-size: 24px;
}


.trailer_link {
    text-decoration: none;
    color: white;
}

.trailer_container {
    margin-top: 20px;
    padding: 40px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}